/* Generales */
body, header, footer {
    font-family: "Roboto Slab", serif;
    background-color: #1A1826;
    color: #FFFFFF;
}

.btn {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
}

h4, h5 {
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
}
h5 {
    color: #F2A766;
}
/* NavBar */
.nav-item {
    margin: 0 20px 0 20px;
}

/* Header - start page */
.header-text {
    text-align: left;
    margin: 20px 0 0 20px;
}

.title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 78px;
    text-align: center;
    padding-top: 56px;
    margin-bottom: 50px;
}

.orange-text {
   color: #F2A766;
}

.my-description {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    color: #FFFFFF;
}

/* Other technologies section */
.tech-list {
    padding: 0 0 0 22%;
}

.list-group-item { 
    margin: -5px;
    border-left: 5px solid #85D982 !important;
}

.col-tech-list {
    padding-left: 100px;
}

.badge {
    background-color: #323859;
}

@media (max-width: 768px) {
    .my-description {
        padding-right: 0;
        font-size: 24px;
        line-height: 32px;
        text-align: left;
    }
    
    .title {
        padding-top: 10px;
        font-size: 48px;
        line-height: 58px;
    }

    .col-tech-list {
        padding-left: 0px;
    }
    .tech-list {
        padding: 0 0 0 0;
    }
}

/* Horizontal Rule */

hr {
    color: #323859;
  border: 3px;
  border-style: dotted;
  border-width: 10px;
  border-top-width: 0px;
  margin: auto 40% auto 40%;
}

/* Projects Section */

.tech-used {
    color: #FFFFFF;
}

.size {
    padding: 0 20% 16% 20%;
}

/* Footer */
#footer {
    text-align: center;
    background-color: #323859;
    margin-top: 20px;
    padding-top: 10px;
    padding: 10px 20% 0 20%;
}

.link {
    color: #3084F2;
    text-decoration: none;
}

.link:hover {
    color:#85D982;
}


